* text=auto !eol
extern/Utils/svn_insert_version.cmd -text
release/LicenseAGPL.txt -text
release/dllDikesOvertopping.dll -text
release/dllDikesOvertopping.lib -text
src/core/teamcity.bat -text
src/core/tests/unitTests/runtests.bat -text
src/licenses/LicenseAGPL.txt -text
src/wrappers/TestRunner/App.config -text
src/wrappers/TestRunner/Properties/AssemblyInfo.cs -text
src/wrappers/TestRunner/TestRunner.csproj -text
src/wrappers/TestWrapper.csproj -text
src/wrappers/lib/Deltares.Standard.dll -text
src/wrappers/lib/Deltares.Standard.pdb -text
src/wrappers/lib/nunit.framework.dll -text
test/PlotResults.m/Analyse_overtoppingmodule_results_all.m -text
test/PlotResults.m/centre_title.m -text
test/PlotResults.m/md_paper_deltares.m -text
test/PlotResults.m/rd_overtoppingmodule_results_B.m -text
test/PlotResults.m/rd_overtoppingmodule_results_BPlev.m -text
test/PlotResults.m/rd_overtoppingmodule_results_C.m -text
test/PlotResults.m/rd_overtoppingmodule_results_L.m -text
test/PlotResults.m/rd_overtoppingmodule_results_layout.m -text
test/PlotResults.m/rd_profile.m -text
